/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1700px) {
.feature-chart {
	padding-left: 10px;
    padding-right: 10px;
	margin-right: 8px;
}
.content {
	padding-left: 20px;
}
.item-select_prof .jq-selectbox__select-text {
    width: 165px;
}
.sidebar {
	width: 270px;
}
.radios-wrap .item-radio {
	margin-right: 15px;
}
.range-chart__item {
	padding: 6px 8px;
}
.user {
    padding: 0 13px;
    padding-right: 7px;
    }
    .links-header li {
    margin-right: 50px;
}
.notification {
	margin: 0 35px;
}
.chart-buttons {
bottom: 50px;
}
.subscribers-unit {
    padding: 11px 13px;
    }
}
@media only screen and (max-width : 1470px) {
.box-chart__right > * {
    margin-left: 9px;
}
.range-chart__item {
    font-size: 12px;
}
.feature-chart {
    font-size: 12px;
}
.jq-selectbox__select-text {
    padding-right: 20px;
}
.jq-selectbox__trigger::after {
    right: 13px;
}
.radios-wrap .item-radio {
    margin-bottom: 5px;
}
.portfolio-sidebar__chart img {
    max-width: 120px;
}
.links-header li {
    margin-right: 18px;
}
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
@media (min-width: 1600px) {
	.container {
    max-width: 1170px;
}
}